@model IEnumerable<Budget.Models.Account>
    
<div class="page-body">
    
    
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="well with-header  with-footer">
                <div class="header bg-blue">
                    Accounts 
                    <a id="cr" class="pull-right">Create New</a>
                </div>
                <table class="table table-hover">
                    <thead class="bordered-darkorange">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Balance)
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>Details </th>
                            <th>Delete </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Balance)
                                </td>
                                <td>
                                    <button class="ed btn btn-default" data-id="@item.Id" type="button"><i class="icon glyphicon glyphicon-edit"></i></button>
                                </td>
                                <td>
                                    <a class="btn btn-default" href="@Url.Action("Details", new { id=@item.Id})" type="button"><i class="icon glyphicon glyphicon-list"></i></a>
                                </td>
                                <td>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#@item.Id"><i class="icon glyphicon glyphicon-trash"></i></button>
                                    
                                </td>
                            </tr>
    <div class="modal modal-primary" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon glyphicon glyphicon-remove"></i></button>
                    <h4 class="modal-title">Delete Account</h4>
                </div>
                <div class="modal-body">
                    <p>If you delete this account, you will no longer have access to the transactions of this account. Are you sure you want to delete the account ? </p>
                    <p>@Html.DisplayFor(modelItem => item.Name)
                    <br />
                        @Html.DisplayFor(modelItem => item.Balance)</p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-7 col-md-2">
                            <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="icon glyphicon glyphicon-remove"></i>Cancel</button>
                        </div>
                        <div class="col-md-2">
                            @using (Html.BeginForm("Delete", "Accounts", "HttpPost"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", item.Id)
                                <div class="form-actions no-color">

                                    <button type="submit" value="Delete" class="btn btn-primary"><i class="icon glyphicon glyphicon-trash"></i>Delete</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
                        }
                    </tbody>
                </table>

                
            </div>

        </div>
        <div class="col-xs-12 col-md-6">
            <div id="editView"> </div>
        </div>
</div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {

            $('#cr').click(function () {
                $('#editView').load('/Accounts/_Create');
            });
            $('.ed').click(function () {
                $('#editView').load('/Accounts/_Edit/' + $(this).data('id'));
            });
            //$('.det').click(function () {

            //});
        });
    </script>
    }
    







