@model Budget.Models.Transaction


<div class="page-body">

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-blue">
                    <span class="widget-caption"> Create Transaction</span>
                    <span class="pull-right">@Html.ActionLink("Categories","Index","Categories")</span>
                </div>
                <div class="widget-body">
                    @using (Html.BeginForm("Create", "Transactions", FormMethod.Post, new AjaxOptions { HttpMethod = "POST" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Transaction</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RecAmount, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.RecAmount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RecAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*@using (Ajax.BeginForm("Create","Categories",new AjaxOptions { HttpMethod="Post", InsertionMode=InsertionMode.Replace,
                                           UpdateTargetId="CatDD"}))
                                            {
                                                <input type="text" value="Category" name="Name" />
                                                <input type="hidden" name="Id" />
                                <span>@Html.DropDownList("CategoryTypeId", null, htmlAttributes: new { @class = "form-control" })</span>
                                                <input type="submit" value="Add New" />
                                            }*@

                            @*@Html.Partial("CatDD")*@
                            <div id="CatDD" class="form-group">
                                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TransDate, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="date" name="TransDate" id="transDate" />
                                    @Html.ValidationMessageFor(model => model.TransDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                    @*<div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

            @section scripts {

                <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
                <script type="text/javascript">
                    // When the document is ready
                    $(document).ready(function () {

                        $('#transDate').datepicker({
                            //format: "dd/mm/yyyy"
                        });

                    });
                </script>
            }
